<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WS beginner</title>
  </head>
  <body>
    <div>Press F12, check console tab and network tab</div>
    <script>
      const webSocket = new WebSocket(`ws://${window.location.host}`);

      const handleOpenWs = () => {
        console.log("Connect websocket and server : Sucess");
      };

      const handleServerMsg = (message) => {
        console.log(message.data);
        webSocket.send("Send message client to server");
      };

      webSocket.addEventListener("open", handleOpenWs);
      webSocket.addEventListener("message", handleServerMsg);
    </script>
  </body>
</html>
